.dither-layer {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.dither-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.dither-layer canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
