.liquidChrome-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.liquidChrome-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
